<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>SECRET OF NIM</title>

</head>
<body style="background-color: black;">
    <span style="color: white;"><span style="font-family: Segoe UI;"></span></span><span style="font-weight: bold;"><span style="color: white;"><span style="font-family: Segoe UI;"><a name="how_its_played"></a>how it's played<br><br></span></span></span><span style="color: white;">
        <span style="font-family: Segoe UI;">
            In this version of nim the &nbsp;game board consists of four rows of increasing amounts of tokens: 1,3,5 and 7.<br>On
            each players turn he or she can take as many tokens as they wish from
            the game board, but those tokens must all come from the same row.<br>In
            other words you can only take tokens from a single row on each turn.
            Play continues until there is only one token left on the game board. <br>The players whose turn it is when one token remains is the <span style="text-decoration: underline;">loser</span>.<br><br><span style="font-weight: bold;"><a name="the_secret_of_nim"></a>the secret of nim<br><br><span style="font-weight: bold;"></span></span>Nim
            can always be won if you know the secret &nbsp;and strategy for
            winning. &nbsp;There is an easy trick for mastering the version of nim
            presented in<br>this app. To start, think of all the tokens on the game board as existing in groups of one, two and four.<br><br>&nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1 = 1<br>&nbsp; &nbsp;||| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1+2 =3<br>&nbsp; ||||| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;4 +1 = 5<br>&nbsp;||||||| &nbsp; &nbsp; &nbsp; &nbsp; 4 +2 +1 = 7<br><br>When
            the game starts the game board is balanced. This means that there are
            an even number of groups of ones, twos and fours on the board. &nbsp;<br>When
            a token is removed from the board the tree becomes unbalanced. If you
            can rebalance the tree on your turn, leaving an even number <br>of the
            groups, you can guarantee a win. As you might have
            already guessed, it is an advantage to not have the first turn.<span style="font-weight: bold;"><span style="font-weight: bold;"></span><br><br></span>As
            an example lets say we have two players Mark and Jane. Mark goes first
            removing 3 tokens from the 3rd row. The board now look like<br><br>
        </span>
    </span><span style="color: white;"><span style="font-family: Segoe UI;">&nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1 = 1<br>&nbsp; &nbsp;||| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1+2 =3<br>&nbsp;&nbsp;|| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2 = 2<br>&nbsp;||||||| &nbsp; &nbsp; &nbsp; &nbsp; 4 +2 +1 = 7</span></span><br><br><span style="color: white;">
        <span style="font-family: Segoe UI;">
            Marks
            move effectively destroyed a group of four and created a new group of
            two. On Jane's turn she should remove a group of four, two and one to
            rebalance the tree. There is only one row where this is possible, row
            four.
        </span>
    </span>&nbsp;<span style="color: white;"><span style="font-family: Segoe UI;"> Jane &nbsp;decides to remove tokens from the fourth row. the board now looks like</span></span><br><br><span style="color: white;">
        <span style="font-family: Segoe UI;">
            &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1 = 1<br>&nbsp; &nbsp;||| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1+2 =3<br>&nbsp;&nbsp;|| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2 = 2<br><br>As
            you can see the tree is balanced again having an even number of groups
            of twos and ones. This means on marks turn he can only leave an
            unbalanced game board and give Jane the advantage. &nbsp;Look at the
            game board as it stand now and imagine all the moves Mark might make.
            There is no scenario in which he can win unless Jane makes a mistake.
            This is the secret of Nim, leaving a balanced game board at the end of
            your turn so that you are always at an advantage to execute the winning
            move!<br><br>Practice playing nim in the apps player vs. ai setting to
            hone your skills. Take care to analyze the game board each turn and
            leave it balanced. As an added challenge try letting the ai player go
            second. Can you catch the ai making a mistake?<br><br>
        </span>
    </span><br>
</body>
</html>